main {
    /* display: block; */
    /* max-width: 600px; */
}

img {
    max-width: 100%;
    display: block;
    background-color: black;
    animation: fade 5s;
}

@keyframes fade {
    /* 0% {
        opacity: 0;
        
    }

    100% {
        opacity: 100%;
    } */
    from {opacity: 0%;}
    to {opacity: 100%;}
}