:root {
    --darkgreen: rgb(0, 71, 0);
    --lightblue: rgb(196, 238, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
    background-color: var(--darkgreen);
    color: white;
    padding: 1rem;
}

nav {
    background-color: var(--lightblue);
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}


nav a {
    text-align: center;
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: var(--darkgreen);
}

nav a:hover {
    background-color: var(--darkgreen);
    color: white;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card {
    margin: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    overflow: hidden;
}

.card h2 {
    background-color: var(--darkgreen);
    color: white;
    padding: .5rem;
    text-align: center;
}

.card div {
    padding: 1rem;
}

#about-me {
    grid-column: 1/2;
}

#about-me-text{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

#about-me-text h3{
    text-align: center;
    text-decoration: underline;
    margin-top: 1rem;
}

#flag {
    float: left; 
    margin-right: 1rem;
}

#san-jose-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#profile-pic {
    grid-column: 2/3;
}

#resources {
    grid-column: 2/3;
}

#resources div {
    padding: 1rem;
}

#resources div ul {
    margin: 1rem;
}

footer {
    text-align: center;
    background-color: var(--darkgreen);
    color: white;
    padding: 1rem;
}