@media screen and (min-width: 500px) {

    body {
        max-width: 1500px;
    }
    #hero-space {
        position: relative;
        max-width: 1500px;
    }

    .info {
        background-color: var(--sakura);
        border: solid var(--akabeni) 1px;

    }

    #data {
        position: absolute;
        left: 1rem;
        top: 3rem;
    }

    #weather {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
    }

    #weather h2::after {
        content: "   ⛅"; 
    }

    #weather-icon {
        display: none;
    }


}